.pre-box {
  position: relative;
  border: 1px solid transparent;
  width: 99%;
  margin: 0 auto;
  .pre-container {
    border: 1px solid #d6dde4;
    background: var(--code-bgd-color) !important;
  }
  .btn-copy {
    position: absolute;
    top: 16px;
    right: 18px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 4px 10px;
    outline: 0;
    border: 1px solid #999;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }
}

.toc {
  position: fixed;
  left: 4rem;
  top: 36%;
  width: calc(50vw - 32rem);
  // transform: translateY(-68%);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.toc-nav {
  min-width: 120px;
  min-height: 160px;
}

.toc-abstract-entries {
  position: relative;
  margin-top: 7px;
  margin-left: 0;
  opacity: 1;
  z-index: -1;
  user-select: none;
  .toc-entry {
    width: 14px;
    border-bottom: 2px solid var(--hp-color-border, #c1c7cd);
    margin-left: 4px;
    height: 25px;
  }
  .toc-title {
    width: 24px;
  }
}
